
/*
* {
  border: thin solid red
}
*/

a {
  cursor: pointer;
}

body {
  background: #EEE2DC;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  margin-left: 20px;
  padding: 0;
  width: 100%;
}

.big-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 40px;
}

#big-title {
  color: #800020;
}

#area-chart {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  border: 2px solid rgb(0,128,128, 0.7);
  width: 80%;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
}

#main-map {
  margin-top: 20px;
}

#main-map-title {
  font-size: 20px;
}

#main-map-subtitle {
  font-size: 15px;
}

#main-map-data-source {
  font-size: 10px;
}

#introduction {
  width: 90%;
}

#instruction-box {
  width: 90%;
  border: 3px solid rgb(0,128,128, 0.7);
  background: rgb(0,128,128, 0.7);
}

#instruction-box p {
  margin: 5px;
  color: white;
}

#comm-area-instruction {
  display: none;
}

.footer {
  font-size: 10px;
}
