
/*
* {
  border: thin solid red
}
*/

a {
  cursor: pointer;
}

body {
  background: #EEE2DC;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin-left: 20px;
  padding: 0;
  width: 100%;
}

.big-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}

#big-title {
  color: orange;
}

#area-chart {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  border: 2px solid rgb(0,128,128, 0.7);
  width: 80%;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
}
