
/*
* {
  border: thin solid red
}
*/

a {
  cursor: pointer;
}

body {
  background: #D6D6CE;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.big-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
}
